@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  border-radius: 10px;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}

.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

.logo-placeholder {
    float: none;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.inline {
    display: inline;
}

.placeholder-font {
    font-size: 1.5em;
}


.bolded { 
    font-weight: 800; 
}

.btn-primary {
    color: #ffffff !important;
    font-weight: 600 !important;
    font-family: 'Raleway', sans-serif !important;
    background-color: #242424 !important;
    border-color: #242424 !important;
    border-radius: 5px !important;
}

.logo-white {
    color: #fff;
    background-color: #242424;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.logo-black {
    color: #242424;
    background-color: #fff;
    border-color: #242424;
    border: 20px;
}

.custom-google-button {
    background-color: #fff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: none !important;
    padding: 20px !important;

}

.login-box {
    border: 3px solid #242424 !important;
    border-radius: 5px !important;
    font-size: smaller !important;
}

.sign-up-button {
    padding-top: 10px;
    font-size: smaller !important;
}

.custom-link {
    text-decoration: none;
}

.primary-text {
    color: #242424 !important;
}